{% extends "SegundoUsoFrontendBundle::layout.html.twig" %}

{% block content %}

    <div class="row">
        <div class="col-md-6">

            {{ form_start(form, {'method':'POST', 'action':path('fos_user_registration_register'), 'attr':{'class':'form-horizontal', 'id':'FLAG_new-user'}}) }}

            <div class="form-group">
                {{ form_label(form.username, 'Usuario', {'label_attr': {'class':'col-md-2'}}) }}
                {{ form_widget(form.username, {'attr': {'class':'col-md-8'}}) }}
                {{ form_errors(form.username, {'attr': {'class':'col-md-8'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email, 'Email', {'label_attr': {'class':'col-md-2'}}) }}
                {{ form_widget(form.email, {'attr': {'class':'col-md-8'}}) }}
                {{ form_errors(form.email, {'attr': {'class':'col-md-8'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.first, 'Contraseña', {'label_attr': {'class':'col-md-2'}}) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class':'col-md-8'}}) }}
                {{ form_errors(form.plainPassword.first, {'attr': {'class':'col-md-8'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.second, 'Confirmar cont.', {'label_attr': {'class':'col-md-2'}}) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'class':'col-md-8'}}) }}
                {{ form_errors(form.plainPassword.second, {'attr': {'class':'col-md-8'}}) }}
            </div>
            <div class="form-group">
                <div class="col-md-offset-2"><button id="FLAG_send-new-user-form" class="btn btn-primary">Registrarse</button></div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock content %}
