{% extends 'SegundoUsoFrontendBundle::layout.html.twig' %}

{% block content %}
    <div class="row list" id="FLAG_mis-anuncios-list">

        <div class="col-md-12"><h1>Mis Anuncios</h1></div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Anuncio</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
            {% for ad in ads %}
                <tr class="ad">
                    <td><a href="{{ path('segundo_uso_frontend_ad_show', {pid: ad.pid}) }}">{{ ad.title }}</a></td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path('segundo_uso_frontend_ad_edit', {pid:ad.pid, token:ad.token}) }}" class="btn btn-default btn-sm">Editar</a>
                            <a href="{{ path('segundo_uso_frontend_ad_delete', {pid:ad.pid, token:ad.token}) }}" class="btn btn-danger btn-sm">Eliminar</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="alert alert-warning"><div>
                            No tienes anuncios publicados.
                        </div></td>
                </tr>

            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}

    {{ parent() }}

{% endblock javascripts %}