{% extends 'SegundoUsoFrontendBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">Introduce los datos para el anuncio que quieres publicar:</div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="{{ path('segundo_uso_frontend_announcement_create') }}" method="post">
            </form>

            {{ form_start(form, {'method':'POST', 'action':path('segundo_uso_frontend_announcement_create'), 'attr':{'class':'form-horizontal'}}) }}
            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_label(form.title, 'Título', {'label_attr': {'class':'col-md-2'}}) }}
                {{ form_widget(form.title, {'attr': {'class':'col-md-8'}}) }}
                {{ form_errors(form.title, {'attr': {'class':'col-md-8'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.location, 'Localización', {'label_attr': {'class':'col-md-2'}}) }}
                {{ form_widget(form.location, {'attr': {'class':'col-md-8'}}) }}
                {{ form_errors(form.location, {'attr': {'class':'col-md-8'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description, 'Descripción', {'label_attr': {'class':'col-md-2'}}) }}
                {{ form_widget(form.description, {'attr': {'class':'col-md-8'}}) }}
                {{ form_errors(form.description, {'attr': {'class':'col-md-8'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.category, 'Categoría', {'label_attr': {'class':'col-md-2'}}) }}
                {{ form_widget(form.category, {'attr': {'class':'col-md-8'}}) }}
                {{ form_errors(form.category, {'attr': {'class':'col-md-8'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.advertiser, 'Email', {'label_attr': {'class':'col-md-2'}}) }}
                {{ form_widget(form.advertiser, {'attr': {'class':'col-md-8'}}) }}
                {{ form_errors(form.advertiser, {'attr': {'class':'col-md-8'}}) }}
            </div>
            <div class="form-group">
                <div class="col-md-offset-2"><button class="btn btn-primary">Publicar</button></div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock content %}
