{% extends 'SegundoUsoFrontendBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">Introduce los datos para el anuncio que quieres publicar:</div>
    </div>

    <div class="row">
        <div class="col-md-12">

            {{ form_start(form, {'method':'POST', 'action':path('segundo_uso_frontend_ad_create'), 'attr':{'class':'form-horizontal', 'id':'FLAG_new-ad-form'}}) }}
            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_label(form.title, 'Título', {'label_attr': {'class':'col-md-2'}}) }}
                {{ form_widget(form.title, {'attr': {'class':'col-md-8'}}) }}
                {{ form_errors(form.title, {'attr': {'class':'col-md-8'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.location, 'Localización', {'label_attr': {'class':'col-md-2'}}) }}
                {{ form_widget(form.location, {'attr': {'class':'col-md-8'}}) }}
                {{ form_errors(form.location, {'attr': {'class':'col-md-8'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description, 'Descripción', {'label_attr': {'class':'col-md-2'}}) }}
                {{ form_widget(form.description, {'attr': {'class':'col-md-8'}}) }}
                {{ form_errors(form.description, {'attr': {'class':'col-md-8'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.category, 'Categoría', {'label_attr': {'class':'col-md-2'}}) }}
                {{ form_widget(form.category, {'attr': {'class':'col-md-8'}}) }}
                {{ form_errors(form.category, {'attr': {'class':'col-md-8'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.advertiser, 'Email', {'label_attr': {'class':'col-md-2'}}) }}
                {{ form_widget(form.advertiser, {'attr': {'class':'col-md-8'}}) }}
                {{ form_errors(form.advertiser, {'attr': {'class':'col-md-8'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.images, 'Fotografías', {'label_attr': {'class':'col-md-2'}}) }}
                <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e }}">
                {% for image in form.images %}
                    <li>{{ form_row(image.file) }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2"><button id="FLAG_send-new-ad-form" class="btn btn-primary">Publicar</button></div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
<script>
    var $collectionHolder;

    // setup an "add a tag" link
    var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
    var $newLinkLi = $('<li></li>').append($addTagLink);

    $(document).ready(function() {
        // Get the ul that holds the collection of tags
        $collectionHolder = $('ul.images');

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addTagLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addTagForm($collectionHolder, $newLinkLi);
        });

        collectionHolder.find('li').each(function() {
            addTagFormDeleteLink($(this));
        });
    });

    function addTagForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);

        addTagFormDeleteLink($newFormLi);
    }

    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormA = $('<a href="#">delete this tag</a>');
        $tagFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the tag form
            $tagFormLi.remove();
        });
    }
</script>
{% endblock javascripts %}
