{% extends 'SegundoUsoFrontendBundle::layout.html.twig' %}

{% block content %}
    <div class="row list">

        <div class="col-md-8">
            <h1>{{ ad.title }} en ({{ ad.location }})</h1>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% set firstActive = true %}{% for image in ad.images %}
                    <div class="item {% if firstActive %}active{% endif %}{% set firstActive = false %}">
                        <img src="{{ image.getWebPath }}">
                        <div class="carousel-caption"> </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <p>{{ ad.description }}</p>
        </div>

        <div class="col-md-4">

            <div class="btn-group">
                <button type="button" class="btn btn-default id="fraudulent-marker" title="Marcar este anuncio como fraudulento">
                    <span class="glyphicon glyphicon-flag"></span> Avisar
                </button>
                <button type="button" class="favorite-marker btn btn-{% if isFavorite %}success unfavoritable{% else %}default{% endif %}" data-adid="{{ ad.id }}" data-favorite-url="{{ path('segundo_uso_frontend_ad_favorite', {id:ad.id}) }}" data-unfavorite-url="{{ path('segundo_uso_frontend_ad_unfavorite', {id:ad.id}) }}" title="Marcar anuncio como favorito">
                    <span class="glyphicon glyphicon-heart"></span> <span class="favorite-text">Favorito</span>
                </button>
            </div>

            <h3>Contacta al anunciante</h3>
            <div class="contact-form">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {{ form_start(contactForm, {'action': path('segundo_uso_frontend_ad_show', {pid:ad.pid}), 'attr': {'novalidate': 'novalidate', 'role':'form'}}) }}
                {{ form_errors(contactForm) }}

                <div class="form-group">
                    {{ form_label(contactForm.name) }}
                    {{ form_errors(contactForm.name) }}
                    {{ form_widget(contactForm.name, { 'attr':{'class':'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(contactForm.email) }}
                    {{ form_errors(contactForm.email) }}
                    {{ form_widget(contactForm.email, { 'attr':{'class':'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(contactForm.message) }}
                    {{ form_errors(contactForm.message) }}
                    {{ form_widget(contactForm.message, { 'attr':{'class':'form-control'}}) }}
                </div>

                <button id="FLAG_send-ad-contact-form" type="submit" class="btn btn-success">Enviar</button>

                {{ form_end(contactForm) }}
            </div>
        </div>

    </div>

{% endblock content %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            $('#fraudulent-marker').click(function() {
                $.ajax({
                    type: "POST",
                    url: '{{ path('segundo_uso_frontend_ad_mark_fraudulent', {id:ad.id}) }}',
                    data: 'hola',
                    success: function() {
                        $('#fraudulent-marker').removeClass('btn-default').addClass('btn-warning').attr('disabled', 'disabled');
                    },
                    dataType: 'json'
                });
            });
        });
    </script>
    <script type="text/javascript" src="{{ asset('bundles/segundousoad/js/favoritable.js') }}"></script>

{% endblock javascripts %}