{% extends '::base.html.twig' %}

{% block body %}

    <div class="page-wrap">
        <header>
            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">SegundoUso Admin</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ads <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('admin_ad') }}">All Ads</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('segundo_uso_fraudulent_ads') }}">Fraudulent Ads</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('admin_category') }}">Categories</a></li>
                    </ul>
                    {% if app.user %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </nav>
        </header>

        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </div>

{% endblock body %}
